/* Nav Bar links for standardizing */ 
.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }



/* Index Page Styles */

footer .copyright {
  top :-8px;
  margin-right: 20px;
  font-size :1em;
  color :rgb(120, 74, 247);
  text-shadow :black;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

/* Resume Page Styles */
#navBar {
 background-color : rgb(0, 0, 0);
 text-decoration-color: brown;
}


/* Media Page Styles */

.mediaBackground {
  background-size: 100%;
  background-image: url("photos/digital_rays-wide.jpg");
  background-repeat: no-repeat;
  text-align: center; 
  background-attachment: fixed;
}


/* Projects Page Styles */


/* Game Application page Styles */



/* Contact Page Styles */


/* Blog page Styles*/


/* */


/* */



/* */